:root {
  --primary-color: #2b7bd6;
  --primary-color-dark: #5993d5;
  --secondary-color: #83afe1;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top: solid 2px var(--secondary-color);
  border-bottom: solid 2px var(--secondary-color);
  color: var(--secondary-color);
  transition: border-top 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  border-radius: 1rem;
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}


.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

/* Habilidades */
h2.titulo {
  text-align: center;
  padding: 0.5rem;
  color: var(--text-dark);
  font-size: 36px;
}

h2.titulo span.blue-work {
  color: var(--primary-color-dark);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skills-box {
  flex: 1 1 300px;
  max-width: 45%;
  color: #000;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #040404;
  margin-top: 45px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.skills-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary-color);
}

.skills-box i {
  font-size: 70px;
  color: #2b7bd6;
}

.skills-box p {
  font-size: 1.25rem;
}

.skills-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* Seção Sobre Mim */
.about .interface {
  padding: 2rem 0;
  margin-top: 2rem; /* Adiciona espaço superior */
}

/* Seção FALA COMIGO*/
/* Estilos específicos para .skills-box dentro da .form */
.form .skills-box {
  padding: 1rem; /* Reduzindo o preenchimento para 20px em todos os lados */
  border: 2px solid var(--text-dark); /* Definindo a cor do contorno como --text-dark */
  border-radius: 15px; /* Arredondando os cantos da borda */
  margin: 0 auto; /* Centralizando horizontalmente */
  max-width: 500px; /* Limitando a largura máxima */
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea{
 width: 100%;
 background-color: #e4d3d3;
 border: 0;
 outline: 0;
 padding: 20px 15px;
 border-radius: 15px;
 font-size: 20px;
}

form textarea{
  resize: none;
  max-width: 2000px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input{
  width: 120px;
  background-color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

form .btn-enviar input[type="submit"]:hover {
  box-shadow: 0px 0px 8px var(--primary-color);
  transform: scale(1.05);
}

/* Linha do rodapé */
.line-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilo do logo */
.logo-footer img {
  max-width: 150px;
}

/* Botões sociais */
.btn-social {
  display: flex;
  gap: 20px;
}

.btn-social a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s, opacity 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}



/* Responsividade */
@media (max-width: 750px) {
  nav .checkbox {
      display: block;
  }

  ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
  }

  nav #check:checked ~ ul {
      left: 0;
  }

  ul li a {
      font-size: 1.25rem;
  }

  .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: 1fr;
  }

  .image {
      grid-area: 1/1/2/2;
  }

  .action__btns {
      margin: auto;
  }
}

@media (max-width: 500px) {
  .skills-box {
      max-width: 100%;
      padding: 20px;
  }
}

/* rodape */

.line-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}


.btn-social {
  text-align: center;
}

.form .interface {
  margin-top: 2rem; /* Ou qualquer valor que você considere adequado para separar a imagem do formulário */
  padding: 2rem 0; /* Mantenha o padding atual ou ajuste conforme necessário */
}

